.box{
    height: 150px;
    background-color: rgb(200, 255, 0);
}
    
.container-fluid{
    
    margin-top: 30px;
}

.blue-back{
    background-color: #1ABC9C;
}
    
.row{
    padding-top: 10px;
  
    height: 170px;
   
}
    
.titolo-main{
    display: flex;
    justify-content: center;
}

.download{
    display: flex;
    justify-content: center;
}
.download a{
    text-decoration: none;
    color: white;
}